<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BoundingVolume.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <BoundingVolume.Properties.Settings>
            <setting name="dataset_path" serializeAs="String">
                <value>D:\Cloud\SkyDrive\Documents\UNIFEI\TCC\Dataset\glass\glass.data</value>
            </setting>
            <setting name="ids_dataset_dir" serializeAs="String">
                <value>D:\Cloud\SkyDrive\Documents\UNIFEI\TCC\Dataset\NSL_KDD\</value>
            </setting>
            <setting name="ids_train_file" serializeAs="String">
                <value>training.txt</value>
            </setting>
            <setting name="ids_test_dir" serializeAs="String">
                <value>part</value>
            </setting>
            <setting name="ids_cat_file" serializeAs="String">
                <value>training_attack_types.txt</value>
            </setting>
            <setting name="xFold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ids_dataset_full" serializeAs="String">
                <value>kddcup.data.corrected</value>
            </setting>
            <setting name="ids_mode" serializeAs="String">
                <value>False</value>
            </setting>
        </BoundingVolume.Properties.Settings>
    </userSettings>
</configuration>